/*
setter margin og utfylling til 0, siden det er vanlig i nettleser
*/
#body{
        margin:0;
        padding:0;
}
#body-container{
        width:415px;/* Setter bredden konstant til 415px i body-container div*/
        height:500px;/* Setter høyden konstant til 500px i body-container div*/
        margin:0 auto; /* Dette vil sette div til senter */
        border:1px solid #3285ef; /* Setter en ramme rundt body-container div*/
}
#body-container .glossary-container{
        clear:both;/*Dette vil ikke tilate elementer som flyter på noen av sidene*/
}
#body-container .content-container{
        height:430px;/*setter høyden  konstant til 430px for content-container klassen*/
        width:415px;/*setter bredden  konstant til 415px for content-container klassen*/
        overflow: auto;/*Et rullefelt vises når innholdet er større en den spesifiserte høyden*/
        font-family:'Arial', Verdana, Tahoma; /*tar standardfonten arial*/
        font-size: 10pt;/*setter fontstørrelse*/
        clear: both;/*dette vil ikke tillate elementer som flyter på noen av sidene*/
        
}
/*definerer egenskaper for alle div objekter som ligger innen body-container elementet og tilhører body-container klassen*/
#body-container .content-container div{
        padding-left:10px;/*utfylling(padding) settes til10px*/
        border-bottom: 1px #666666 solid;/*for å adskille hver gruppe gis fargen til nedre rammside som gray med 1 px*/
}
#body-container .content-container p.return-to-top{
        color:#0066FF;/*Gir tekstfarge til "tilbake til toppen tekst" */
        text-decoration:underline;/*Teksten skal understrekes */
        text-align:right;/*Teksten skal justeres til høyre */
        margin-right: 10px;/*Gir en marg på 10px fra høyre */
        cursor:pointer;/*Kursøren blir til en "hånd" */
}
.firstUL{
        padding:0px 0px 0px 10px;/*Litt utfylling fra venstre og 0 mot toppen, høyre og bunnen */
        margin:0px;/*Setter alle marger til 0px */
        background-color:#3285ef;    /*bakgrunnsfarge */    
}
/* Egenskapene til hvert listeelement i den uordnede listen*/
.firstUL li{
		/*For alle listeelementer settes det et bakgrunnsbilde ved å bruke "css image sprites" */
        background:transparent url(link_sprite_img.jpg) no-repeat scroll 0px 0px; /*Bakgrunnsbilde til listeelementene */
        display:inline;/*Utlistningene vil bli satt på en rad  */
        font-family:'Arial',Verdana,Tahoma;/* setter fonten til Arial*/
        font-size:16pt;/*Setter fontstørrelsen til 16punkter */
        font-weight:bold;/*Gjør teksten fet */
        padding: 10px 15px 22px;/*Setter utfylling til alle sidene */
        line-height: 70px;/*Setter linjehøyde*/
        cursor:pointer; /*Kursøren blir til en hånd */
}
/*Når listeelementen er selektert må utseende endres
Her brukes den andre delen av bilde ved å bruke "css image sprites"
Man viser den nederste delen av bilde som er 114px høy, dvs. forskjøvet med -57px */
.firstUL li.selected{
        background:transparent url(link_sprite_img.jpg) no-repeat scroll 0px -57px;
        color: #ffffff;/*Setter fontfarge til white/hvit */
        font-weight: bold;/*Gjør teksten fet */
}