

#A
{
text-align:center;
color:blue;
}
#B
{
text-align:center;
color:red;
}
#C
{
text-align:center;
color:brown;
}
#E
{
text-align:center;
color:yellow;
}
#F
{
text-align:center;
color:purple;
}
#G
{
text-align:center;
color:green;
}
#H
{
text-align:center;
color:orange;
}
#J
{
text-align:center;
color:magenta;
}
#L
{
text-align:center;
color:cyan;
}
#P
{
text-align:center;
color:#4B0082;
}
#R
{
text-align:center;
color:20B2AA;
}
#S
{
text-align:center;
color:778899;
}
